.content{
    width: 60%;
    margin-left: 20%;
    display:flex;
    justify-content: space-between;
}
.styles{

    text-align: center;
}

  
body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif; /* Шрифт для текста */
    line-height: 2; /* Высота строки */
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем внутренние отступы */
    background-color: #f4f4f4; /* Цвет фона */
}

/* Стили для заголовков */
h1, h2 {
    color: #333; /* Цвет заголовков */
}

/* Стили для навигации */
.header-nav nav ul {
    list-style: none; /* Убираем маркеры списка */
    margin-left: 10px;
    padding: 0; /* Убираем внутренние отступы */
}

.header-nav nav ul li {
    display: inline; /* Выводим элементы в строку */
    margin-right: 30px; /* Отступ между элементами */
}


.header-nav nav ul li a {
    
    text-decoration: none; /* Убираем подчеркивание */
    color: #333; /* Цвет ссылок */
}

.header-nav nav ul li a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}
aside {
    float: left;
    height: 0px; /* Высота окна минус высота заголовка */
    position: relative;
    width: 30%;
    background-color: rgb(255, 255, 255);
    border-right: solid 2px black;
}
.asidee ul{
    list-style: none; /* Убираем маркеры списка */
    margin-left: 10px;
    padding: 0; /* Убираем внутренние отступы */
}
.asidee ul li a{
    text-decoration: none;
    color: #333; /* Убираем подчеркивание */
}
.asidee ul li a:hover{
    text-decoration: underline;
}
.Name-group{
    padding-bottom: 5px;
    float: right;
}
.Name-group p{
    margin: 0;
}
header{
    background-color: rgb(255, 255, 255);
    height: 145px;
}

.main-header{
    border-bottom: solid 2px #333;
}

.footerr{
    height: 120px;
    border-top: solid 2px black;
     text-align: center; /* Выравнивание текста по центру */
     padding: 10px; /* Внутренние отступы */
     background: rgb(255, 255, 255); /* Цвет фона */
     color: #fff; /* Цвет текста */
     position: relative; /* Позиционирование */
     bottom: 0; /* Прижатие к низу */
     width: 100%; /* Ширина на всю страницу */
 }
.container {
    margin-top: -15px;
    border-top: #333 5px solid;
    background-color: rgb(255, 255, 255);
    display: flex; /* Используем Flexbox для размещения навигации и контента в ряд */
    padding: 10px;
}

.asidee {
    width: 280px; /* Ширина боковой панели */
    margin-right: 30px; /* Отступ между навигацией и карточками */
    border-right:solid 2px black ;
}

main {
    height: 100%;
    
    flex: 1; /* Занимает оставшееся пространство */

}



 footer p{
    color: #333;
 }
 table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:nth-child(even) {
    background-color:rgb(199, 204, 204);
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  iframe {
    width: 100%;
    height: 400px;
    border: none;
  }
  embed {
    width: 100%;
    height: 600px;
  }